@model IEnumerable<Sorelle.Model.Task>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-responsive">
			<tr>
				<th></th>
				<th>Name</th>
				<th class="hide-xs">Priority</th>
				<th class="hide-sm hide-xs">Status</th>
				<th>Completed Date</th>
			</tr>
			@foreach (var item in Model)
			{
				<tr class="task @Helpers.BorderSidesCSS(item.PriorityTag?.Color)">
					<td>
						<a href="/api/task/@item.Id/complete?returnUrl=@Request.RawUrl" class="complete-cb"><span class="glyphicon glyphicon-unchecked"></span></a>
						@if (item.isPinned)
						{
							@:<a href="/api/task/@item.Id/togglePin?returnUrl=@Request.RawUrl"><span class="glyphicon glyphicon-pushpin fg-greenlt"></span></a>
						}
						else
						{
							@:<a href="/api/task/@item.Id/togglePin?returnUrl=@Request.RawUrl"><span class="glyphicon glyphicon-pushpin fg-disabled"></span></a>
						}
						<a href="/t/edit/@item.Id"><span class="glyphicon glyphicon-edit fg-default"></span></a>
					</td>
					<td>
						<a href="/t/@item.Id">@item.Name</a>
						@if (item.isProject)
						{<span class="project-flag">Project</span>}
					</td>
					<td class="hide-xs">
						@if (item.PriorityTag != null)
						{
							<a href="/tag/@item.PriorityTag.Id" class="@Helpers.ForegroundCSS(item.PriorityTag?.Color)">@Html.Raw(item.PriorityTag?.Name)</a>
						}
					</td>
					<td class="hide-sm hide-xs">
						@if (item.StatusTag != null)
						{
							<a href="/tag/@item.StatusTag.Id" class="@Helpers.ForegroundCSS(item.StatusTag?.Color)">@Html.Raw(item.StatusTag?.Name)</a>
						}
					</td>
					<td>@Html.Raw(item.CompletedAt?.ToString())</td>
				</tr>
			}
		</table>
	</div>
</div>